[{elvis,
  [{config,
    [#{dirs => ["src", "src/*", "test", "test/*"],
       filter => "*.erl",
       ruleset => erl_files,
       rules =>
           [{elvis_style,
             atom_naming_convention,
             #{ignore => [kv_pb, miniclip_gpb_utils, miniclip_gpb_client_test]}},
            {elvis_text_style,
             line_length,
             #{limit => 110,
               skip_comments => false,
               ignore => [miniclip_gpb_client_test, miniclip_gpb_proto_test]}},
            {elvis_style, dont_repeat_yourself, #{ignore => [kv_pb, miniclip_gpb_client_test]}},
            {elvis_style, no_spec_with_records, #{ignore => [kv_pb]}},
            {elvis_style, no_if_expression, #{ignore => [kv_pb]}},
            {elvis_style, god_modules, #{ignore => [kv_pb]}},
            {elvis_style, no_block_expressions, #{ignore => [kv_pb]}},
            {elvis_style, function_naming_convention, #{ignore => [kv_pb]}},
            {elvis_style, variable_naming_convention, #{ignore => [kv_pb]}}]},
     #{dirs => ["."],
       filter => "rebar.config",
       rules => []},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
