{erl_opts, [debug_info]}.

{deps, [{gpb, "4.19.7"}, {ranch, "2.1.0"}, {erlcloud, "3.7.2"}]}.

{relx,
 [{release, {miniclip_gpb, "0.1.0"}, [miniclip_gpb, sasl]},
  {mode, dev},
  %% automatically picked up if the files
  %% exist but can be set manually, which
  %% is required if the names aren't exactly
  %% sys.config and vm.args
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}]}.

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}

{profiles,
 [{prod,
   [{relx,
     %% prod is the default mode when prod
     %% profile is used, so does not have
     %% to be explicitly included like this
     [{mode, prod}]}]}]}.

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}

{erl_opts, [{i, "./_build/default/plugins/gpb/include/"}]}.

{plugins, [{rebar3_gpb_plugin, "2.10.0"}]}.

{gpb_opts,
 [{i, "proto"},
  {f, ["kv.proto"]},
  {module_name_suffix, "_pb"},
  {o_erl, "src"},
  {o_hrl, "include"}]}.

{provider_hooks, [{pre, [{compile, {protobuf, compile}}, {clean, {protobuf, clean}}]}]}.

%% == Cover ==
{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == Dialyzer ==
{dialyzer,
 [{warnings, [no_return, unmatched_returns, error_handling, unknown]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, [miniclip_gpb, gpb, ranch, erlcloud]},
  {plt_location, local},
  {plt_prefix, "miniclip_gpb"},
  {base_plt_location, "."},
  {base_plt_prefix, "miniclip_gpb"}]}.

%% == Project Plugins ==
{project_plugins, [rebar3_format, rebar3_lint, rebar3_hank]}.

%% == Alias ==
{alias,
 [{test,
   [compile, {format, "--verify"}, lint, hank, dialyzer, {ct, "--verbose"}, cover, edoc]}]}.

%% == Hank rules ==
{hank,
 [{ignore, ["include/kv_pb.hrl", "src/kv_pb.erl"]}]}.

%% == EDoc ==
{edoc_opts, []}.
