[
  {miniclip_gpb, [
    {port, 5555},
    {listener_count, 5},
    {aws_access_key_id, "AKIA4KGT6PRYTVVWRCPF"},
    {aws_secret_access_key, "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"},
    {aws_kms_key_id, <<"b29d8878-3eb1-416d-8fdf-5263cb62681d">>},
    {aws_data_table_name, <<"gpb_data">>}
  ]}
].
