[
  {miniclip_gpb, [
    {port, 5555},
    {listener_count, 5},
    {aws_access_key_id, "ACCESS_KEY_ID"},
    {aws_secret_access_key, "SECRET_ACCESS_KEY"},
    {aws_kms_key_id, <<"KMS_KEY_ID">>},
    {aws_data_table_name, <<"TABLE_NAME">>},
    {aws_data_key_size, 16}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, debug},
        {formatter, lager_default_formatter},
        {formatter_config, [color, time, " [", severity, "] ",
          {module, [module, ":", {function, ""}, ":", line, ": "], ""},
          message, {eol, "\e[0m\r\n"}]}
      ]},
      {lager_file_backend, [
        {file, "logs/debug.log"},
        {level, debug},
        {size, 10485760}, %% 10MB
        {date, "$D0"},
        {count, 5} %% log file count
      ]},
      {lager_file_backend, [
        {file, "logs/error.log"},
        {level, error},
        {size, 10485760},
        {date, "$D0"},
        {count, 5}
      ]},
      {lager_file_backend, [
        {file, "logs/info.log"},
        {level, info},
        {size, 10485760},
        {date, "$D0"},
        {count, 5}
      ]}
    ]},
    {colored, true},
    {crash_log, "logs/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 2}]}
].
